{% extends 'base.html' %}

{% block title %}Felony Description{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <h1 class="text-center">Felony Description</h1>
            <div class="card border-success mb-3 text-center">
                <div class="card-header">{{ object.prisoner }}</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">{{ object.title }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>First Name: </b>{{ object.prisoner.first_name }}
                    </li>
                    <li class="list-group-item">
                        <b>Last Name: </b>{{ object.prisoner.last_name }}
                    </li>
                    <li class="list-group-item">
                        <b>Id Number: </b>{{ object.prisoner.id_number }}
                    </li>
                    <li class="list-group-item">
                        <b>Start Date: </b>{{ object.start_date }}
                    </li>
                    <li class="list-group-item">
                        <b>End Date: </b>{{ object.end_date }}
                    </li>
                    <li class="list-group-item">
                        <b>Fine Charged: </b>Kshs. {{ object.fine_charged }}
                    </li>
                </ul>
                <div class="card-body">
                    <p class="card-text">{{ object.description }}</p>
                    <a href="{% url 'felonys_edit' felony.pk %}" 
                       class="btn btn-success">Update</a>
                    {% comment %}<a href="{% url 'prisoners_list' %}" {% endcomment %}
                       {% comment %}class="btn btn-outline-success">All Prisoners</a>{% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
