{% extends 'base.html' %}

{% block title %}Felonies{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <h1>Felonies</h1>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Prisoner</th>
                        <th scope="col">Title</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for felony in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'felonys_detail' felony.id %}">
                                {{ felony.prisoner }}
                            </a>
                        </td>
                        <td>{{ felony.start_date }}</td>
                        <td>{{ felony.title }}</td>
                        <td>{{ felony.end_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
