{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register Prisoner{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-5">
            <h1>Register Prisoner</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-success mt-2" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
